*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/.idea
/.idea
/.idea
/.idea
gradlew
*.bat
*.gradle
/gradle
/.idea
.idea/vcs.xml
app/src/test/java/com/example/aiwiz/ExampleUnitTest.java
app/src/main/res/xml/data_extraction_rules.xml
app/src/main/res/xml/backup_rules.xml
app/proguard-rules.pro
app/src/androidTest/java/com/example/aiwiz/ExampleInstrumentedTest.java
gradle.properties
.idea/vcs.xml
